@import url(//db.onlinewebfonts.com/c/9a2bc11be56851dde98c1b49302cc21a?family=Gotham+Medium);
@font-face {
  font-family: "Gotham Medium";
  src: url("//db.onlinewebfonts.com/t/9a2bc11be56851dde98c1b49302cc21a.eot");
  src: url("//db.onlinewebfonts.com/t/9a2bc11be56851dde98c1b49302cc21a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/9a2bc11be56851dde98c1b49302cc21a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/9a2bc11be56851dde98c1b49302cc21a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/9a2bc11be56851dde98c1b49302cc21a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/9a2bc11be56851dde98c1b49302cc21a.svg#Gotham Medium")
      format("svg");
}

@import url(//db.onlinewebfonts.com/c/0923ee644c97a87d70269aa80a6f1e79?family=The+Historia+Demo);
@font-face {
  font-family: "The Historia Demo";
  src: url("//db.onlinewebfonts.com/t/0923ee644c97a87d70269aa80a6f1e79.eot");
  src: url("//db.onlinewebfonts.com/t/0923ee644c97a87d70269aa80a6f1e79.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0923ee644c97a87d70269aa80a6f1e79.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/0923ee644c97a87d70269aa80a6f1e79.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/0923ee644c97a87d70269aa80a6f1e79.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/0923ee644c97a87d70269aa80a6f1e79.svg#The Historia Demo")
      format("svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  /* font-family: "Gotham Medium"; */
  color: #c5c5c5;
}

body {
  width: 100%;
  height: 100%;
  background: black no-repeat center fixed;
  background-size: cover;
}

address {
  display: block;
  font-style: normal;
  font-size: 2.5rem;
  text-align: center;
}

img {
  width: 100%;
}

li {
  margin: 0 2rem;
}

/* Layout rules */
section {
  padding: 12rem 0 6rem 0;
}

.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/* Typography rules */
a {
  text-decoration: none;
  color: #2e89ff;
}

p {
  /* font-family: "Gotham Medium"; */
  line-height: 0.6cm;
  font-size: 1.8rem;
  font-weight: 200;
}

/* Miscelaneous rules */
.section--heading {
  text-align: center;
  margin-bottom: 10rem;
}

.section--heading h1 {
  font-size: 4rem;
  color: rgb(255, 255, 255);
  font-weight: 400;
  position: relative;
  margin-bottom: 1.5rem;
}

.section--heading h1::before,
.section--heading h1::after {
  content: "";
  position: absolute;
  bottom: -0.8rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.842);
}

.section--heading h1::before {
  width: 25%;
  height: 3px;
  border-radius: 0.8rem;
}

.section--heading h1::after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1.3rem;
}

.section--heading h6 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 300;
  color: rgb(160, 160, 160);
}

.has-margin-right {
  margin-right: 5rem;
}

.has-margin-left {
  margin-left: 5rem;
}

/* Header / Hero section */
header {
  width: 100%;
  height: 100vh;
}

.header__circle--left {
  position: relative;
  height: 75%;
  width: 17%;
  top: 10%;
  animation: move2 4s infinite;
  animation-delay: 0s;
}

.header__circle--right {
  position: absolute;
  width: 18%;
  height: 11%;
  right: 0%;
  top: 30%;
  animation: move 4s infinite;
  animation-direction: initial;
}

.menu--toggler {
  position: fixed;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 850ms ease-out;
}

.menu--toggler.open {
  transform: rotate(-45deg);
}

.bar {
  background: rgb(207, 204, 204);
  width: 100%;
  height: 4px;
  border-radius: 0.8rem;
}

.bar.half {
  width: 50%;
}

.bar.start {
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.bar.end {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
  transform: rotate(-450deg) translateX(0.8rem);
}

.open .bar.end {
  transform: rotate(-450deg) translateX(-0.8rem);
}

.top-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  z-index: 50;
  background-color: #1e1e35e8;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.nav__list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__list--link {
  font-family: "The Historia Demo";
  font-size: 5rem;
  padding: 1rem;
  color: #eee;
  text-decoration: none;
}

.nav__list--link:hover,
.nav__list--link:focus {
  background: linear-gradient(#f0c800ce, #ff5a3dcb);

  /* TODO: Add rules for another browser */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.landing-text h1 {
  font-size: 20rem;
  font-family: "The Historia Demo", sans-serif;
  background: linear-gradient(#f0c800ce, #ff5a3dcb);
  user-select: none;
  padding: 1rem;

  /* TODO: Add rules for another browser */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-text h6 {
  font-size: 2.5rem;
  font-weight: 300;
  font-family: "Gotham";
}

.landing-text .scrolldown {
  position: absolute;
  bottom: -20rem;
  left: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  animation: animate 1.5s linear infinite;
  opacity: 0;
}

.scrolldown span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
}
.scrolldown span:nth-child(2) {
  transform: translate(0, 0);
  animation-delay: -0.2s;
}
.scrolldown span:nth-child(3) {
  transform: translate(15px, 15px);
  animation-delay: 0s;
}

/* About me section */
.container {
  position: relative;
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__circle {
  position: absolute;
  height: 15%;
  width: 25%;
  top: 100%;
  right: 0%;
  animation: move2 4s infinite;
}

.about__details {
  flex: 1;
}

.about__details a:hover {
  color: #0059ff;
}

.about__details__header {
  text-transform: uppercase;
  text-align: center;
  line-height: 0;
  margin-bottom: 6rem;
}

.about__details__header h1 {
  font-size: 10rem;
  opacity: 0.3;
  font-weight: 500;
}

.about__details__header h6 {
  font-size: 2rem;
  font-weight: 400;
}

.about__details h3 {
  color: white;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
}

.about__details p {
  font-size: 2.5rem;
  text-align: center;
  line-height: 1cm;
}

.social-media {
  margin-top: 5rem;
}

.social-media i {
  font-size: 5rem;
  transition: color 650ms;
}

.fa-linkedin:hover {
  color: #ffffff;
}

.fa-github-square:hover {
  color: #ffffff;
}

.fa-facebook-square:hover {
  color: #ffffff;
}

.fa-medium:hover {
  color: #ffffff;
}

.fa-behance-square:hover {
  color: #ffffff;
}

.fa-twitter-square:hover {
  color: #ffffff;
}

/* Achievements section */
.achievement__square {
  position: absolute;
  left: -10%;
  top: 70rem;
  height: 10%;
  width: 15%;
  animation: move2 4s infinite;
}

.achievement__skills {
  border-top: 4px solid #ff5a3d;
  position: relative;
  margin-top: 15rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 10rem;
  text-align: left;
}

.achievement__skills__skill {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

/* .achievement__skills__skill h1 {
  text-align: left;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
} */

.achievement__skills__skill h3 {
  text-align: left;
  color: #ffee00;
  letter-spacing: 2px;
  font-size: 1.9rem;
  margin: 2rem -2px 2rem 0;
}

.achievement__skills .achievement__skills__skill {
  border-right: none;
  margin-right: 1rem;
  padding-right: 1rem;
  position: relative;
}

.achievement__skills .achievement__skills__skill:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.achievement__skills .achievement__skills__skill::before,
.achievement__skills .achievement__skills__skill::after {
  position: absolute;
  display: grid;
  left: 0%;
  transform: translateX(-50%);
}

.achievement__skills .achievement__skills__skill::before {
  content: attr(data-date);
  text-align-last: auto;
  text-align: right;
  font-size: 1.5rem;
  color: white;
  top: -5rem;
  margin-left: 5rem;
}

.achievement__skills .achievement__skills__skill::after {
  top: -1rem;
  content: "";
  box-shadow: 0 0 0 4px #ff5a3d;
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #ffe838;
}

.achievement__skills p {
  font-size: 1.8rem;
  line-height: 0.7cm;
}

.achievement__skills a {
  color: #ff961e;
  font-size: 1.7rem;
  text-decoration: underline;
}

.achievement__skills a:hover {
  color: #c26700;
}

/* Portfolio section */
.portfolio__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.portfolio__item:last-child {
  margin-bottom: 0;
}

.portfolio__item__img {
  flex: 0.9;
}

.portfolio__item__description {
  flex: 1;
  font-size: 4rem;
}

.portfolio__item__description h1 {
  font-size: 3rem;
  margin: 1rem 0;
  font-weight: 400;
}

.portfolio__item__description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 350;
  opacity: 0.6;
  margin-bottom: 0rem;
}

.portfolio__item__description .cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #2e89ff;
}

.portfolio__item__description .cta:hover {
  color: #0059ff;
}

.portfolio__square {
  position: absolute;
  height: 50%;
  width: 20%;
  right: 0%;
  animation: move 4s infinite;
}

/* Experience section */
.timeline ul {
  border-left: 4px solid #ffe838;
  border-radius: 0.8rem;
  background-color: rgba(29, 29, 29, 0.616);
  margin: 0 auto;
  padding: 5rem;
  position: relative;
  list-style: none;
  text-align: left;
  width: 70%;
}

.timeline .timeline__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.281);
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  position: relative;
}

.timeline .timeline__item:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .timeline__item::before,
.timeline .timeline__item::after {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.timeline .timeline__item::before {
  content: attr(data-date);
  left: -25rem;
  text-align: right;
  min-width: 12rem;
  font-size: 1.5rem;
  color: white;
  width: 8rem;
  text-align: center;
}

.timeline .timeline__item::after {
  content: "";
  left: -8rem;
  box-shadow: 0 0 0 4px #ffe838;
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #313534;
}

.timeline .timeline__item--border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.281);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.timeline h1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.timeline p {
  line-height: 0.7cm;
}

.timeline a {
  text-decoration: underline;
  color: #ffae17;
  font-size: 1.7rem;
}

.timeline a:hover {
  color: #cf8906;
}

.experience__circle {
  position: relative;
  left: -10%;
  width: 15%;
  height: 15%;
  animation: move2 4s infinite;
}

/* Footer rules */
.copyright {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
  padding: 1rem;
  position: relative;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border: 1px white solid;
  background-color: #000000de;
  border-radius: 100%;
  top: -2.5rem;
  right: 5rem;

  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer;
}

.up i {
  color: #ffffff;
  font-size: 2rem;
  margin: auto;
}

.copyright p {
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
  font-family: "Gotham Medium";
}

/* Custom animations */
@keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50%,
  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

@keyframes move {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes move1 {
  0% {
    transform: scale(1.05);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 10 0 0 0px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1.05);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes move2 {
  100% {
    transform: scale(1.15);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  70% {
    transform: scale(1);
    box-shadow: 10 0 0 0px rgba(0, 0, 0, 0);
  }
  0% {
    transform: scale(1.15);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
  }
  70% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
  }
}

/* Start media queries */
@media screen and (max-width: 991px) {
  /* Header / Hero section */
  .top-nav li {
    margin: 2rem 0;
  }
  .top-nav .nav__list {
    flex-direction: column;
  }

  .timeline .timeline__item::before {
    left: -22rem;
  }
}

/* Tablet view rules */
@media screen and (max-width: 768px) {
  body {
    width: 100%;
    height: 100%;
    background: black no-repeat center fixed;
    background-size: cover;
  }
  /* p {
    font-size: small;
  } */

  /* Miscelaneous rules */
  .section--heading h1 {
    font-size: 3rem;
  }
  .section--heading h1::after {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 100%;
  }

  /* Header / Hero section */
  .header__circle--right {
    width: 25%;
    height: 40%;
    top: 50rem;
  }
  .landing-text h1 {
    font-size: 15rem;
  }
  .landing-text h6 {
    font-size: 2rem;
  }
  .nav__list--link {
    font-size: 4.5rem;
  }

  /* About me section */
  .about__circle {
    top: 50rem;
  }
  .about__details__header h1 {
    font-size: 8rem;
  }
  .about__details h3 {
    font-size: 3rem;
    font-weight: 400;
    color: white;
  }
  .about__details .nav__list {
    flex-direction: initial;
  }
  .about__details li {
    margin: 0 2rem;
  }

  /* Achievements section */
  .achievement__square {
    top: 100rem;
  }
  .achievement__skills {
    margin-top: 10rem;
    margin-left: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  }
  /* .achievement__skills__skill h1 {
    text-align: left;
    letter-spacing: 1px;
    margin: 2rem -2px 2rem 0;
  } */
  .achievement__skills__skill h3 {
    font-size: 1.8rem;
  }
  .achievement__skills__skill p {
    font-size: 1.7rem;
  }
  .achievement__skills .achievement__skills__skill {
    margin-right: 0rem;
    padding-right: 0rem;
  }
  .achievement__skills .achievement__skills__skill::before {
    min-width: 12rem;
    text-align: center;
    margin-left: 2rem;
  }
  .achievement__skills a {
    font-size: 1.6rem;
  }

  /* Portfolio section */
  .portfolio__item__description h1 {
    font-size: 2.5rem;
  }

  /* .icon-container {
    width: 7rem;
    height: 7rem;
  }
  .icon-container i {
    font-size: 4rem;
  } */

  /* Experience section */
  .timeline ul {
    margin: 0 0 0 auto;
  }
  .timeline .timeline__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.281);
    padding-bottom: 1rem;
    position: relative;
  }
  .timeline .timeline__item::before {
    font-size: 1.3rem;
    padding-left: 1rem;
    width: 5rem;
    text-align: center;
  }
  /* .timeline .timeline__item::after {
    left: -5.9rem;
  } */
  .timeline h1,
  .timeline p {
    font-size: 1.7rem;
  }
  .timeline .cta {
    font-size: 1.6rem;
  }

  /* Footer rules */
  .up {
    right: 0.5rem;
  }
}

/* Different breakpoint */
/* Wider phone view / Tablet */
@media screen and (max-width: 600px) {
  /* p {
    font-size: small;
  } */
  address {
    display: block;
    font-style: normal;
    font-size: 2rem;
  }

  /* Header / Hero section */
  .header__circle--left {
    width: 30%;
    height: 70%;
    top: 5%;
  }
  .header__circle--right {
    width: 30%;
    height: 45%;
    top: 60rem;
  }
  .menu--toggler {
    top: 2rem;
    right: 2rem;
  }
  .nav__list--link {
    font-size: 3.5rem;
  }
  .landing-text h1 {
    font-size: 8rem;
  }
  .landing-text h6 {
    font-size: 1.5rem;
  }
  .landing-text .scrolldown {
    width: 30px;
    height: 30px;
  }

  /* About me section */
  .about .container {
    display: list-item;
  }
  .about__circle {
    top: 100%;
  }
  .about__details__header h1 {
    font-size: 7rem;
  }
  .about__details h3 {
    font-size: 2.5rem;
    font-weight: 300;
    color: white;
  }
  .about__details p {
    font-size: 2rem;
  }
  .social-media {
    margin-top: 5rem;
  }
  .social-media i {
    font-size: 4.5rem;
    transition: color 650ms;
  }

  /* Achievements section rules */
  .achievement__square {
    width: 22%;
    height: 15%;
    top: 110rem;
  }
  .achievement__skills {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-row-gap: 8rem;
  }

  /* Portfolio section rules */
  .portfolio__item {
    flex-direction: column;
  }
  .portfolio__item__img {
    margin: 0 0 2rem 0;
  }
  .portfolio__item__description {
    flex: 1;
  }
  .portfolio__item__description h1 {
    font-size: 2.25rem;
    margin: 1rem 0rem;
    font-weight: 400;
  }
  .portfolio__item__description h6 {
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.6;
  }
  .portfolio__item__description .cta {
    display: inline-block;
    margin-top: 2.5rem;
    text-transform: uppercase;
    color: #2e89ff;
  }
  .portfolio__item__description {
    margin: 0;
    order: 2;
  }
  .portfolio__square {
    width: 25%;
    height: 25%;
  }

  /* Experience section rules */
  .timeline ul {
    padding: 2.5rem;
    width: 80%;
  }
  .timeline .timeline__item {
    margin: 0;
    margin-bottom: 3rem;
  }
  .timeline .timeline__item::before {
    left: -15rem;
    width: 5rem;
    min-width: 10rem;
    text-align: center;
  }
  .timeline .timeline__item::after {
    left: -3.5rem;
  }
  .timeline h1 {
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #ffffff;
  }
  .achievement__skills__skill p {
    line-height: 0.6cm;
  }

  /* Footer rules */
  .up {
    right: 0.5rem;
    top: -3.5rem;
  }
}

/* Normal phone view rules */
@media screen and (max-width: 500px) {
  /* Miscelaneous rules */
  .section--heading {
    margin-bottom: 5rem;
  }

  /* Achievements section */
  section.achievements,
  section.portfolio,
  section.experience {
    padding-top: 6rem;
  }
  .achievement__skills {
    border-left: 4px solid #ff5a3d;
    border-top: none;
    align-items: center;
    margin: 5rem 0 5rem 10rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
  }
  .achievement__skills__skill h3 {
    margin: -1.5rem 1px 1rem 2rem;
  }
  .achievement__skills p {
    margin-left: 2rem;
  }
  .achievement__skills .achievement__skills__skill {
    border-right: none;
  }
  .achievement__skills .achievement__skills__skill::before {
    top: -1rem;
    left: -9rem;
    width: 10rem;
    min-width: 10rem;
  }
  .achievement__skills a {
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  /* Experience section */
  .timeline ul {
    width: 95%;
  }
  .timeline .timeline__item::before {
    left: -11rem;
    transform: rotate(-90deg);
  }
}

/* Normal phone view rules */
@media screen and (max-width: 400px) {
  /* Achievements section */
  .achievements .container {
    margin: 0;
    width: 100%;
  }
  .achievement__skills {
    margin-left: 6rem;
    margin-right: 1rem;
  }
  .achievement__skills .achievement__skills__skill::before {
    transform: rotate(-90deg);
    left: -11rem;
  }

  /* Experience section */
  .timeline .timeline__item::before {
    left: -10.5rem;
  }
}

/* Special breakpoint */
/* Smaller phone view rules */
@media screen and (max-width: 350px) {
  /* Navbar button */
  .menu--toggler {
    width: 3rem;
    height: 2rem;
  }
  .bar {
    height: 3px;
  }

  /* Achievements section */
  .achievement__skills {
    margin-left: 2rem;
  }
  .achievement__skills__skill h3 {
    font-size: 1.7rem;
  }
  .achievement__skills__skill p,
  .portfolio__item__description p {
    font-size: 1.6rem;
  }
  .achievement__skills__skill a {
    font-size: 1.5rem;
  }

  /* Experience section */
  .timeline ul {
    padding: 1.5rem;
    width: 100%;
  }
  .timeline .timeline__item::after {
    left: -2.5rem;
  }
}

/* Smaller phone view rules */
@media screen and (max-width: 300px) {
  /* Miscelaneous section */
  .section--heading h1 {
    font-size: 2.2rem;
  }
  .section--heading h6 {
    font-size: 1.7rem;
  }

  /* Header / Hero section */
  .landing-text h1 {
    font-size: 5rem;
  }
  .landing-text h6 {
    font-size: 1rem;
  }

  /* About me section */
  section.about {
    padding-top: 6rem;
  }
  .about__details__header {
    margin-bottom: 3.5rem;
  }
  .about__details__header h1 {
    font-size: 6rem;
  }
  .about__details__header h6 {
    font-size: 1.8rem;
  }
  .about__details h3 {
    font-size: 2rem;
  }
  .about__details p {
    font-size: 1.7rem;
    line-height: 0.8cm;
  }
  address {
    font-size: 1.7rem;
  }

  /* Portfolio section */
  .portfolio__item__description h1 {
    font-size: 2.1rem;
  }
  .portfolio__item__description h6,
  .portfolio__item__description .cta {
    font-size: 1.4rem;
  }
}

/* Height breakpoint */
/* Smaller viewport height rules */
@media screen and (max-height: 540px) {
  /* Header / Hero section */
  header {
    height: 540px;
  }
  .landing-text {
    top: 0;
    left: unset;
    transform: unset;
  }

  /* About me section */
  section.about {
    margin-top: 12rem;
  }
}
